<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row page-titles" style="padding: 1.3em;">
      <div class="col-md-5 align-self-center">
          <h4 class="text-themecolor">Cadastro de Usuário</h4>
      </div>
  </div>
    <div class="row">
      <div class="col-12">
        <div class="card card-body">
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <form [formGroup]="form" (ngSubmit)="register()">
                <div class="form-group">
                  <label for="primeiroNome" class="form-label" formControlName="primeiroNome">Primeiro nome</label>
                  <input type="text" class="form-control" id="primeiroNome" placeholder="Digite seu nome" [ngClass]="{'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched}">
                  <div class="invalid-feedback">
                    Primeiro Nome é obrigatório.
                  </div>
                </div>
                <div class="form-group">
                  <label for="ultimoNome" class="form-label" formControlName="ultimoNome">Sobrenome</label>
                  <input type="text" class="form-control" id="ultimoNome" placeholder="Digite seu sobrenome">
                </div>
                <div class="form-group">
                  <label for="email" class="form-label" formControlName="email">E-mail</label>
                  <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail">
                </div>
                <div class="form-group">
                  <label for="username" class="form-label" formControlName="username">Nome de usuário</label>
                  <input type="text" class="form-control" id="username" placeholder="Digite seu nome de usuário">
                </div>
                <div class="form-group">
                  <label for="password" class="form-label" formControlName="password">Senha</label>
                  <input type="password" class="form-control" id="password"
                    placeholder="Digite sua senha">
                </div>
                <div class="form-group">
                  <label for="confirmarSenha" class="form-label" formControlName="confirmarSenha">Confirmar senha</label>
                  <input type="password" class="form-control" id="confirmarSenha"
                    placeholder="Confirme sua senha">
                </div>
                <button type="submit" class="btn btn-success me-2 text-white" type="submit" [disabled]="form.disabled">Cadastrar</button>
                <a type="submit" class="btn btn-dark">Cancelar</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
