<aside class="left-sidebar">
  <div class="scroll-sidebar">
    <div class="user-profile">
      <div class="user-pro-body">
        <div><img src="../assets/images/114532361.jpg" alt="user-img" class="img-circle"></div>
        <div class="dropdown" *ngIf="(accoutService.currentUser$ | async) as user">
          <a href="javascript:void(0)" class="dropdown-toggle u-dropdown link hide-menu" data-bs-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false">{{ user.primeiroNome | titlecase }}<span class="caret">{{ user.username | titlecase }}</span></a>
          <div class="dropdown-menu animated flipInY">
            <a href="javascript:void(0)" class="dropdown-item"> Perfil</a>
            <a href="javascript:void(0)" class="dropdown-item"> Configurações</a>
            <a href="javascript:void(0)" class="dropdown-item"> Sair</a>
            <div class="dropdown-divider"></div>
          </div>
        </div>
      </div>
    </div>
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <hr>
        <li>
          <a class="waves-effect waves-dark" aria-expanded="false">
            <span class="hide-menu">Ínicio</span>
          </a>
        </li>
        <li> <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><span
              class="hide-menu">Produtos</span></a>
        </li>
        <li>
          <a class="waves-effect waves-dark" aria-expanded="false">
            <span class="hide-menu" (click)="logout()">Sair</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
